<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style type="text/css">
        body{
            background-color:{{fake_color}};
        }
    </style>
</head>
<body>
    <a href="/ping">돌아가기</a>
    <img scr="https://cdn-images-1.medium.com/max/2000/1*Jalb56N34pBIGCjQULtW3A.jpeg"/>
    <h1>{{html_name}}님은(는) {{fake_color}} 와 잘 어울립니다. </h1>
    <img src="static/img/{{img_data}}.jpg">
</body>
</html>